:root {
    --darkButton: #363636;
    --redButton: #C93333;
    --darkText: #000000;
    --brightText: #FFFFFF;
    --background: #D9D9D9;
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: Inter;
}

header {
    display: flex;
    flex-direction: column;
}

header h1 {
    text-align: center;
    color: var(--brightText);
}

nav {
    background-color: var(--darkButton);
    margin-bottom: 20px;
    align-self: center;
    width: 90%;
    padding: 25px;
    border-radius: 35px;
}

nav a {
    font-weight: bold;
    margin-right: 15px;
    color: var(--brightText);
    text-decoration: none;
}

nav a:hover,
.active {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--brightText);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Login page styles Start */

.login,
.register {
    margin-top: 20px;
    padding: 20px;
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.login form,
.register form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 5px;
    border: none;
    background-color: var(--background);
}

.register {
    margin-bottom: 150px;
}

/* Login page styles End */

/* Home page styles Start */

.container {
    width: 90%;
    margin-bottom: 150px;
    padding: 10px 25px 20px 25px;

    background-color: var(--brightText);
    border-radius: 35px;
}

.container h2 {
    text-align: center;
}

.movie-table {
    width: 100%;
}

.movie-table tr {
    display: flex;
    flex-wrap: nowrap;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.movie {
    background-color: var(--background);
    border-radius: 25px;
}

.movie img {
    display: block;
    margin: 0 auto;
    width: 20px;
    align-items: center;
}

.movie-table .movie {
    height: 45px;
}

.movie-table th {
    font-size: 18px;
    text-align: left;
    align-self: flex-end;
}

.movie-table .instock {
    text-align: center;
}

.movie-table td {
    align-self: center;
}

.movie-table .table-button {
    align-self: auto;
}

.movie-table th,
.movie-table td {
    flex-basis: 100%;
}

/* Home page styles End */

/* Profile page style Start */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile-row {
    flex-basis: 100%;
    display: flex;
    margin-bottom: 20px;
}

.profile-picture {
    flex-basis: 50%;
}

.profile-picture img {
    display: block;
    margin: auto;
    width: 150px;
}

.profile-details {
    flex-basis: 50%;
}

.profile-buttons {
    flex-basis: 100%;
    padding-left: 13%;
}

.profile-buttons .round-btn {
    width: 150px;
    margin-right: 10px;
}

/* Profile page style End */

.time {
    width: 50%;
    display: flex;
    background-color: var(--brightText);
}

.time .arrow {
    flex-basis: 20%;
}

.time-text {
    text-align: center;
    flex-basis: 60%;
}

.arrow {
    text-align: center;
    color: var(--brightText);
    background-color: var(--darkButton);
}

.btn-link {
    align-self: center;
}

.round-btn {
    padding: 5px;
    width: 100px;
    align-self: center;
    background-color: var(--darkButton);
    color: var(--brightText);
    border: none;
    border-radius: 10px;
}

.table-btn {
    width: 100%;
    height: 100%;
    border: none;
    color: var(--brightText);
    background-color: var(--darkButton);
}

.table-btn-red {
    width: 100%;
    height: 100%;
    border: none;
    color: var(--brightText);
    background-color: var(--redButton);
}

footer {
    display: flex;
    align-items: end;
    padding: 0 30px;
    justify-content: space-between;
    color: var(--brightText);
    background-color: var(--darkButton);
    height: 150px;
}